/* font-family: 'Josefin Sans', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #282726;
    min-height: 100vh;
    width: 100%;
}
/* ---------------------------------------------------------------------------------- Comienzo de OnLoader -----------------------------------------------------------------------------------------------------------------------*/
#cajaOnLoader{
    position: fixed;
    z-index: 9999;
    background-color: #282726;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}
#subCajaOnLoader{
    position: relative;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#onLoader{
    position: relative;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
    border: 10px solid #D6CAB0;
    border-top: 10px solid #86817c;
    border-radius: 50%;
    animation: girar 2s infinite;
}
@keyframes girar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#onLoaderText{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    top: 20px;
    color: #D6CAB0;
}
/* ---------------------------------------------------------------------------------- Final de OnLoader -----------------------------------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------- Comienzo de Menu Desplegable -----------------------------------------------------------------------------------------------------------------------*/
#cajaDesplegable{
    z-index: 99;
    background-color: #D6CAB0;
    height: 100%;
    width: 250px;
    position: fixed;
    left: -250px;
}
#contenidoDes{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
#color{
    text-align: center;
    width: 40px;
    height: 40px;
    top: 15px;
    left: 270px;
    position: absolute;
    background-color: #D6CAB0;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
}
#botonMenu{
    position: relative;
    margin: 10px;
    height: 20px;
    width: 20px;
}
#top{
    margin-top: 50px;
}
#contenidoDes li::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #282726;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
}
#contenidoDes li:hover::before{
    transform: scaleX(1);
}
#contenidoDes li:hover::before{
    width: 100%;
}
#contenidoDes li{
    margin-top: 5px;
    position: relative;
    width: 100%;
    list-style: none;
    transition: 0.5s;
}
#contenidoDes li a::before{
    content: "";
    position: absolute;
    background-color: #282726;
    width: 5px;
    height: 100%;
}
#contenidoDes li a{
    color: #282726;
    text-decoration: none;
    position: relative;
    display: flex;
    width: 100%;
    transition: 0.5s;
}
#contenidoDes li a:hover{
    color: #86817c;
}
#contenidoDes li a span{
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    display: block;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
/* ---------------------------------------------------------------------------------- Final de Menu Desplegable -----------------------------------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------- Comienzo de Principio -----------------------------------------------------------------------------------------------------------------------*/
#principio::before{
    content: "";
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, #282726, transparent 90px);
    background-size: cover;
}
#principio{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../image/madera.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#principio #contPrin{
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    width: 1000px;
    height: auto;
    }
#principio #contPrin #imgLogo{
    position: relative;
    width: 250px;
}
#principio #contPrin h1{
    color: #D6CAB0;
    font-size: 5em;
}
#principio #btnPrin{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 800px;
    height: auto;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30px;
}
#principio #btnPrin ul{
    display: flex;
    position: relative;
}
#principio #btnPrin ul li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 0 30px;
}
#principio #btnPrin ul li a{
    color: #D6CAB0;
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #282726;
    transition: 0.5s;
}
#principio #btnPrin ul li a:hover{
    color: #fff;
    transition: 0.5s;
}
#principio #btnPrin ul li:nth-child(1) a::before{
    content: "";
    z-index: 0;
    position: absolute;
    width: 120px;
    height: 120px;
    transform: scale(0);
    border-radius: 50%;
    background-color: #cf2634;
    transition: 0.5s;
    transition-timing-function: ease-out;
}
#principio #btnPrin ul li:nth-child(1) a:hover:before{
    transform: scaleX(1);
}
#principio #btnPrin ul li:nth-child(2) a::before{
    content: "";
    z-index: 0;
    position: absolute;
    width: 120px;
    height: 120px;
    transform: scale(0);
    border-radius: 50%;
    background-color: #3b5998;
    transition: 0.5s;
    transition-timing-function: ease-out;
}
#principio #btnPrin ul li:nth-child(2) a:hover:before{
    transform: scaleX(1);
}
#principio #btnPrin ul li:nth-child(3) a::before{
    content: "";
    z-index: 0;
    position: absolute;
    width: 120px;
    height: 120px;
    transform: scale(0);
    border-radius: 50%;
    background-color: #00bb2d;
    transition: 0.5s;
    transition-timing-function: ease-out;
}
#principio #btnPrin ul li:nth-child(3) a:hover:before{
    transform: scaleX(1);
}
#principio #btnPrin ul li a .fa{
    z-index: 1000;
    font-size: 60px;
    text-shadow: #000;
}
/* ----------------------------------------------------------------------------------final de Principio -----------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------Comienzo de cajaTarjeta -----------------------------------------------------------------------------------------------------------------------*/
h2{
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    text-align: center;
    margin: 20px;
    color: #86817c;
}
#cajaTarjeta{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    font-family: 'Josefin Sans', sans-serif;
}
#cajaTarjeta #tarjeta{
    position: relative;
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px auto;
    background-color: #54504c;
    box-shadow: 0px 5px 20px  rgb(0, 0, 0);
    box-shadow: 0px -5px 20px  rgb(0, 0, 0);
    overflow: hidden;
}
#cajaTarjeta #tarjeta span{
    position: absolute;
    display: block;
}
#cajaTarjeta #tarjeta #a1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#D6CAB0);
    animation: animacion01 3s infinite;
    animation-timing-function: linear;
}
@keyframes animacion01{
    0%{
        left: -100%;
    }
    100%{
        left: 100%
    }
}
#cajaTarjeta #tarjeta #a2{
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#D6CAB0);
    animation: animacion02 3s infinite;
    animation-timing-function: linear;
    animation-delay: 1.5s;
}
@keyframes animacion02{
    0%{
        top: -100%;
    }
    100%{
        top: 100%
    }
}
#cajaTarjeta #tarjeta #a3{
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#D6CAB0);
    animation: animacion03 3s infinite;
    animation-timing-function: linear;
}
@keyframes animacion03{
    0%{
        left: 100%;
    }
    100%{
        left: -100%;
    }
}
#cajaTarjeta #tarjeta #a4{
    top: 100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#D6CAB0);
    animation: animacion04 3s infinite;
    animation-timing-function: linear;
    animation-delay: 1.5s;
}
@keyframes animacion04{
    0%{
        top: 100%;
    }
    100%{
        top: -100%
    }
}
#cajaTarjeta #tarjeta img{
    width: 250px;
    height: 300px;
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
    border: #86817c 2px solid;
}
#cajaTarjeta #tarjeta h3{
    margin: 10px;
}
#cajaTarjeta #tarjeta p{
    margin: 10px
}
/* ---------------------------------------------------------------------------------- Final de cajaTarjeta -----------------------------------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------- Comienzo de cajaFormulario -----------------------------------------------------------------------------------------------------------------------*/
form{
    position: relative;
    background-color: #86817c;
    width: 400px;
    height: 500px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 70px 50px;
    box-shadow: 0px 5px 20px  rgb(0, 0, 0);
    box-shadow: 0px -5px -20px  rgb(0, 0, 0);
    box-sizing: border-box;
}
#cajaFormulario{
    position: relative;
    background-color: #54504c;
    width: 500px;
    height: 600px;
    left: 0;
    right: 0;
    padding: 50px 50px;
    margin: auto;
    box-shadow: 0px 5px 20px  rgb(0, 0, 0);
    box-shadow: 0px -5px -20px  rgb(0, 0, 0);
    box-sizing: border-box;
}
label{
    font-family: 'Josefin Sans', sans-serif;
}
.name-cls{
    border-radius: 5px;
    width: 300px;
    height: 30px;
    border: none;
    font-size: 16px;
    padding: 10px;
}
.lastname-cls{
    border-radius: 5px;
    width: 300px;
    height: 30px;
    border: none;
    font-size: 16px;
    padding: 10px;
}
.ncp-cls{
    border-radius: 5px;
    width: 300px;
    height: 30px;
    border: none;
    font-size: 16px;
    padding: 10px;
}
.email-cls{
    border-radius: 5px;
    width: 300px;
    height: 30px;
    border: none;
    font-size: 16px;
    padding: 10px;
}
